body {
  padding-top: 5rem;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px; /* 幅を固定 */
  padding: 90px 0 0;
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
  z-index: 99;
}

.sidebar .nav-link,
.offcanvas-body .nav-link {
  color: #333;
  transition:
    background-color 0.1s ease,
    border-radius 0.1s ease;
}

.sidebar .nav-link:hover,
.offcanvas-body .nav-link:hover {
  color: #333;
  border-radius: 10px;
  background-color: #e8e6e6;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

p a:hover {
  text-decoration: none;
}

.main-content {
  margin-left: 200px; /* サイドバーの幅に合わせてマージンを設定 */
}

/* 小さい画面でサイドバーを非表示にする */
@media (width <= 768px) {
  .sidebar {
    display: none;
  }

  .main-content {
    margin-left: 0;
  }
}
