<!DOCTYPE html>
{% extends 'chat_base.html' %}
{% block head %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  <style type="text/tailwindcss">
      [x-cloak] {
              display: none !important;
          }
          h1 {
              @apply text-4xl font-bold mb-4
          }
          h2 {
              @apply text-xl font-bold mb-2
          }
          p {
              @apply mb-4
          }
          .button, button, [type='submit'], [type='button'] {
              @apply bg-indigo-600 text-white font-bold px-6 py-4 inline-block
              rounded-lg shadow-lg transition-all cursor-pointer
          }
          .button:hover, button:hover, [type='submit']:hover, [type='button']:hover {
              @apply bg-indigo-700
          }
          .button:active, button:active, [type='submit']:active, [type='button']:active {
              @apply scale-95
          }
          .button.alert, button.alert {
              @apply bg-red-700
          }
          .button.alert:hover, button.alert:hover {
              @apply bg-red-600
          }
          .button-red {
              @apply !bg-red-500 hover:!bg-red-600
          }
          .button-gray {
              @apply !bg-gray-300 hover:!bg-[#c3c9d0]
          }
          .navitems>li>a {
              @apply flex items-center gap-2 h-12 px-4 hover:bg-[rgba(31,41,55,0.3)] rounded-lg;
          }
          .hoverlist>* {
              @apply hover:bg-gray-100 rounded-md transition duration-150;
          }
          .hoverlist>*>a {
              @apply flex items-center p-2;
          }
          .highlight {
              @apply !bg-indigo-100;
          }
          .allauth content a {
              @apply underline underline-offset-2
          }
          .allauth content a:hover {
              @apply text-indigo-500
          }
          .allauth form[action="/accounts/signup/"] ul {
              @apply hidden
          }
          .allauth form[action="/accounts/signup/"] ul.errorlist {
              @apply block
          }
          .allauth .helptext {
              @apply block mt-4
          }
          label {
              @apply hidden
          }
          input[type=file] {
              @apply bg-white pl-0
          }
          .textarea, textarea, input {
              @apply w-full rounded-lg py-4 px-5 bg-gray-100
          }
          .errorlist li {
              @apply p-1 pl-4 border-l-red-500 border-l-4 border-solid mb-2 text-red-500
          }
          label[for="id_remember"] {
              @apply inline-block w-auto mr-2
          }
          input[name="remember"] {
              @apply w-auto
          }
          .alert-info { @apply bg-sky-600 }
          .alert-success { @apply bg-emerald-600 }
          .alert-warning { @apply bg-orange-600 }
          .alert-danger { @apply bg-red-600 }
  </style>
{% endblock %}


{% block layout %}
<content class="block w-full">
<wrapper class="block max-w-2xl mx-auto my-10 px-6">
  <div id="chat_window" class="h-[45rem] flex flex-col bg-gray-800 rounded-2xl shadow-2xl relative p-1 ml-auto md:w-5/6">
    <div class="flex justify-center text-emerald-400 bg-gray-800 p-2 sticky top-0 z-10">
      {% if other_user %}
        <div id="online-icon"></div>
        <a href="{% url 'profile' other_user.username %}">
          <div class="flex items-center gap-2 p-4 sticky top-0 z-10">
            <img class="w-10 h-10 rounded-full object-cover" src="{{ other_user.avatar }}" />
            <div>
              <span class="font-bold test-white">{{ other_user.profile.name }}</span>
              <span class="text-sm font-light text-gray-400">@{{ other_user.username }}</span>
            </div>
          </div>
        </a>
      {% else %}
        <a href="{% url 'profile' user.username %}">
          <div class="flex items-center gap-2 p-4 sticky top-0 z-10">
            <img class="w-10 h-10 rounded-full object-cover" src="{{ user.avatar }}" />
            <div>
              <span class="font-bold test-white">{{ user.profile.name }}</span>
              <span class="text-sm font-light text-gray-400">Notifications</span>
            </div>
          </div>
        </a>
      {% endif %}
    </div>
    {% if is_blocked %}
    {% else %}
      <div id='chat_container' class="overflow-y-auto grow">
        <ul id='chat_messages' class="flex flex-col justify-end gap-2 p-4">
          {% for message in chat_messages reversed%}
          {% include "chat/chat_message.html"%}
          {% endfor %}
        </ul>
      </div>
      {% if other_user %}
        <div class="sticky bottom-0 z-10 p-2 bg-gray-800">
          <div class="flex items-center rounded-xl px-2 py-2">
            <form id="chat_message_form" class="w-full"
              hx-ext="ws"
              ws-connect="/ws/chatroom/{{ chatroom_name }}"
              ws-send
              _="on htmx:wsAfterSend reset() me">
              {% csrf_token %}
              {{ form }}
            </form>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
</wrapper>
{% endblock %}


{% block javascript %}
<script>

  function scrollToBottom(time = 0) {
    setTimeout(function () {
      const container = document.getElementById('chat_container');
      container.scrollTop = container.scrollHeight;
    }, time);
  }
  scrollToBottom()

</script>
{% endblock %}
</content>
