{% extends 'common/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-3 mb-3 bg-light">
      <div class="card-header bg-primary text-light">
        <h4>Log in</h4>
      </div>
      <div class="card-body">
        <form action="" method="POST">
          {{ form.non_field_errors }}
          {% for field in form %}
            {{ field }}
            {{ field.errors }}
            <br>
          {% endfor %}
          <button type="submit" class="btn btn-primary" >ログイン</button>
          <input type="hidden" name="next" value="{{ next }}" />
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}