{% extends 'common/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% load i18n %}
<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-3 mb-3 bg-light">
      <div class="card-header bg-primary text-light">
        <h4>Log in</h4>
      </div>
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %} {% for field in form %}
          <div class="form-group p-2">
            {{ field.label_tag }} {{ field }} {% if field.errors %}
            <div class="alert alert-danger mt-2" role="alert">
              {% for error in field.errors %}
              <div>{{ error }}</div>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary mt-2">{% trans "ログイン" %}</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
