{% extends 'common/base.html' %}

<!-- コンテンツ -->
{% block content %}
<div class="container">
  <h1>My page</h1>
  <hr />

  <!-- アカウント情報 -->
  <div class="row">
    <div class="col d-flex align-items-center">
      <h3 class="mr-2">登録情報</h3>
      <a href="{% url 'accounts:user_update' user.pk %}"><i class="bi bi-pencil-square"></i></a>
    </div>
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td style="width: 50%;">ユーザー名</td>
        <td style="width: 50%;">{{ user.username }}</td>
      </tr>
    </tbody>
  </table>

  <!-- プロフィール画像 -->
  <div class="row mb-4">
    <div class="col">
      <div class="d-flex align-items-center">
        <h3 class="mr-2">プロフィール画像</h3>
        <a href="{% url 'accounts:profile_image_update' user.pk %}"><i class="bi bi-pencil-square"></i></a>
      </div>
      {% if user.profile_image %}
      <img src="{{ user.profile_image.url }}" alt="Profile Image" class="rounded-circle border" style="width: 150px; height: 150px; object-fit: cover;">
      {% else %}
      <strong>プロフィール画像がありません</strong>
      {% endif %}
    </div>
  </div>

  <!-- パスワード -->
  <div class="row mt-4">
    <div class="col d-flex align-items-center">
      <h3 class="mr-2">パスワード</h3>
      <a href="{% url 'accounts:password_change' %}"><i class="bi bi-pencil-square"></i></a>
    </div>
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td style="width: 50%">パスワード</td>
        <td style="width: 50%">非表示</td>
      </tr>
    </tbody>
  </table>

  <!-- プロフィール画像 -->
  <div class="row mb-4">
    <div class="col">
      <h3>プロフィール画像</h3>
      {% if user.profile_image %}
      <img src="{{ user.profile_image.url }}" alt="Profile Image" class="rounded-circle border" style="width: 150px; height: 150px; object-fit: cover;">
      {% else %}
      <strong>プロフィール画像がありません</strong>
      {% endif %}
    </div>
  </div>

  <!-- 権限 -->
  <div class="row mt-4">
    <div class="col"><h3>権限</h3></div>
  </div>
  <table class="table table-bordered">
    <tbody>
      {% if user.is_staff %}
      <tr>
        <td style="width: 50%">スタッフ権限</td>
        <td style="width: 50%">{{ user.is_staff }}</td>
      </tr>
	  {% else %}
      <tr>
        <td style="width: 50%">スタッフ権限</td>
        <td style="width: 50%">なし</td>
      </tr>
      {% endif %}
	  {% if user.is_superuser %}
      <tr>
        <td>スーパーユーザー権限</td>
        <td>{{ user.is_superuser }}</td>
      </tr>
	  {% else %}
      <tr>
        <td>スーパーユーザー権限</td>
        <td>なし</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
