{% extends "common/base.html" %}
{% block content %}
{% load i18n %}
<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="card mt-3 mb-3 bg-light">
      <!-- カードヘッダー -->
      <div class="card-header bg-success text-light">
        <h4>Change Password Done</h4>
      </div>
      <!-- カードボディー -->
      <div class="card-body">
        <p>{% trans "パスワードを更新しました。" %}</p>
        <hr />
        <p><a href="{% url 'accounts:my_page' user.pk %}" class="async-link">{% trans "マイページ" %}</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
