{% extends 'common/base.html' %}
{% block title %}Multiplayer Options{% endblock %}
{% block content %}
<div class="container">
  <h1>Multiplayer Options</h1>
  <div class="game-options">
    <a href="{% url 'pingpong:multiplayer_lobby' %}" class="btn btn-primary async-link"
      >Remote Play</a
    >
    <a
      href="{% url 'pingpong:multiplayer_play_local' %}"
      class="btn btn-secondary async-link"
      >Local Play</a
    >
    <a
      href="{% url 'pingpong:multiplayer_play_four' %}"
      class="btn btn-success async-link"
      >Four People Play</a
    >
  </div>
</div>
{% endblock %}
