{% extends "common/base.html" %}
{% block title %}Ping Pong Game{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'pingpong/css/style.css' %}" />
{% endblock %}
{% block content %}
<div
  class="container fullscreen d-flex justify-content-center align-items-center"
>
  <canvas id="myCanvas"></canvas>
  <button id="speedToggle" class="btn btn-info btn-lg rounded-pill shadow-sm mt-3 position-absolute">Normal Speed</button>
  <div
    id="game-over-message"
    class="text-center d-none position-absolute top-50 start-50 translate-middle"
  >
    <div class="alert alert-info rounded-pill shadow-lg p-4 fs-1" role="alert">
      <span id="gameOverText"></span>
    </div>
    <button
      id="restartButton"
      class="btn btn-primary btn-lg rounded-pill shadow-sm mt-3"
    >
      Restart
    </button>
    <a
      id="homeButton"
      href="{% url 'pingpong:home' %}"
      class="btn btn-secondary btn-lg rounded-pill shadow-sm mt-3"
      >Home</a
    >
  </div>
</div>
<script
  type="module"
  src="{% static 'pingpong/js/single_play/main.js' %}"
></script>
{% endblock %}
