{% extends "common/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Congratulations!</h1>
            <p class="lead">The tournament has come to an exciting conclusion.</p>
            <hr class="my-4">
            <h2 class="display-5">Winner: {{ winner_name }}</h2>
            <p class="lead">
                A huge congratulations to {{ winner_name }} for their outstanding performance and victory!
            </p>
            <a class="btn btn-primary btn-lg mt-3" href="{% url 'pingpong:home' %}" role="button">Back to Home</a>
        </div>
    </div>
</div>
{% endblock %}
